openapi: "3.1.0"
info:
  title: ShieldLabs API
  version: "1.1"
  description: |
    The ShieldLabs API surfaces visitor identification, anonymity detection, and
    abuse and fraud prevention for your application.

    There are three surfaces:

    - The **JS snippet** posts collected signals to `rest.shieldlabs.ai` automatically.
      You do not call this endpoint yourself. See [Install the snippet](/setup/snippet).
    - **Webhooks** deliver the Risk Score and signals to your server shortly after a
      visit. See [Webhooks](/api/webhooks).
    - The **Server API** has two backend hosts:
      - **History API** (recommended) on `account.shieldlabs.ai/api` — Private API Key
        (`Authorization: Bearer sec_…`). See [Server API](/api/server-api).
      - **Management API** on `api.shieldlabs.ai` — Secret Key in headers (`X-Shield-Domain`
        + `Authorization: Bearer`). Profile, balance, and alternate billed History path.
        Legacy `{domain}:{secret}` path auth is deprecated (sunset 2027-01-01).

    The Risk Score is an integer from 0 to 100. ShieldLabs scores visits; your own
    code decides whether to allow, challenge, review, or block.
  contact:
    email: support@shieldlabs.ai

servers:
  - url: https://account.shieldlabs.ai/api
    description: History API (Private API Key, recommended for snapshot reads)
  - url: https://api.shieldlabs.ai
    description: Management API (Secret Key — profile, balance, billed History)

tags:
  - name: history-api
    description: Recommended snapshot reads on account.shieldlabs.ai. Authenticated with Private API Key.
  - name: management-api
    description: Profile, balance, and alternate History on api.shieldlabs.ai. Authenticated with Secret Key headers (v1) or legacy path credentials.

paths:
  /api/v1/history/{search_type}/{value}:
    get:
      tags: [history-api]
      summary: Search history by identifier (recommended)
      description: |
        Returns stored snapshots that match an identifier, newest first, in a paginated
        `{ data, total }` envelope. Does not consume request balance.
      operationId: searchHistoryAccount
      security:
        - PrivateApiKey: []
      parameters:
        - name: search_type
          in: path
          required: true
          schema:
            type: string
            enum: [ip, user_hid, visitor_id, request_id, device_id, session_id, cookie_id]
        - name: value
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Paginated snapshot list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoryEnvelope"
        "401":
          $ref: "#/components/responses/UnauthorizedJson"

  /v1/profile:
    get:
      tags: [management-api]
      summary: Get domain profile
      description: |
        Returns the profile for a domain: remaining request balance, configured
        callback URL, and masked keys. Free (0 requests).
      operationId: getProfileV1
      security:
        - SecretKeyHeader: []
      responses:
        "200":
          description: Domain profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
        "401":
          $ref: "#/components/responses/UnauthorizedEmpty"

  /v1/history/{type}/{value}:
    get:
      tags: [management-api]
      summary: Search history by identifier (Management API)
      description: |
        Returns stored snapshots in a PascalCase JSON array, newest first. Each returned
        row consumes one request from your balance (an empty result still consumes one).
        Prefer `/api/v1/history/…` on account.shieldlabs.ai for new integrations.
      operationId: searchHistoryV1
      security:
        - SecretKeyHeader: []
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [ip, user_hid, visitor_id, request_id, device_id]
        - name: value
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        "200":
          description: Matching snapshots, newest first
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Snapshot"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedEmpty"
        "402":
          $ref: "#/components/responses/OutOfRequests"
        "404":
          description: Unsupported identifier type
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/callback:
    post:
      tags: [management-api]
      summary: Set the webhook callback URL (deprecated)
      deprecated: true
      description: |
        Deprecated. Register webhook endpoints in the dashboard instead.
      operationId: setCallbackV1
      security:
        - SecretKeyHeader: []
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
              format: uri
      responses:
        "200":
          description: Callback URL stored
        "401":
          $ref: "#/components/responses/UnauthorizedEmpty"

  /{credentials}/profile:
    get:
      tags: [management-api]
      summary: Get domain profile (legacy path auth)
      deprecated: true
      operationId: getProfileLegacy
      parameters:
        - $ref: "#/components/parameters/Credentials"
      responses:
        "200":
          description: Domain profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
        "401":
          $ref: "#/components/responses/UnauthorizedEmpty"

  /{credentials}/history/{type}/{value}:
    get:
      tags: [management-api]
      summary: Search history (legacy path auth)
      deprecated: true
      operationId: searchHistoryLegacy
      parameters:
        - $ref: "#/components/parameters/Credentials"
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [ip, user_hid, visitor_id, request_id, device_id]
        - name: value
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        "200":
          description: Matching snapshots
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Snapshot"
        "401":
          $ref: "#/components/responses/UnauthorizedEmpty"
        "402":
          $ref: "#/components/responses/OutOfRequests"

webhooks:
  scoreDelivered:
    post:
      summary: Risk Score delivered
      description: |
        ShieldLabs POSTs this envelope to your configured callback URL after a visit is
        scored. It fires once with `Phase: "initial"` (about a second after the visit)
        and may fire again with `Phase: "update"` after a follow-up network check completes.
        Delivery is at-most-once with no retries. Verify the `Assing` HMAC-SHA256
        signature and treat `RequestID` as an idempotency key.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookEnvelope"
      responses:
        "200":
          description: Acknowledged. Return 200 quickly.

components:
  securitySchemes:
    PrivateApiKey:
      type: http
      scheme: bearer
      description: Private API Key from the dashboard API tab (`sec_…`).
    SecretKeyHeader:
      type: http
      scheme: bearer
      description: Secret Key plus `X-Shield-Domain` header with your registered domain.

  parameters:
    Credentials:
      name: credentials
      in: path
      required: true
      description: "Legacy: domain and secret key joined by a colon, e.g. `myshop.com:9b74c98e…`. Deprecated — sunset 2027-01-01."
      schema:
        type: string
      example: myshop.com:9b74c98e1a3f0d2c5b6a7e8f10293847

  responses:
    UnauthorizedEmpty:
      description: Missing or invalid credentials, or the domain is disabled (empty body)
    UnauthorizedJson:
      description: Missing or invalid Private API Key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    BadRequest:
      description: Invalid parameters (bare JSON string on Management API)
    OutOfRequests:
      description: The domain has no remaining request balance (empty body)
    TooManyRequests:
      description: Per-IP rate limit exceeded
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ServiceUnavailable:
      description: Gateway concurrency cap reached
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          examples: ["too many requests", "invalid api key"]

    HistoryEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AccountSnapshot"
        total:
          type: integer

    AccountSnapshot:
      type: object
      description: Snapshot row from the History API (snake_case).
      properties:
        request_id:
          type: string
          format: uuid
        session_id:
          type: string
          format: uuid
        cookie_id:
          type: string
          format: uuid
        device_id:
          type: string
          format: uuid
        visitor_id:
          type: string
          format: uuid
        ip:
          type: string
        score:
          type: integer
        score_details:
          type: string
          description: JSON string of signal objects with Value and Description fields.
        created_at:
          type: string

    ScoreDetail:
      type: object
      properties:
        Value:
          type: integer
        Description:
          type: string

    WebhookBody:
      type: object
      properties:
        RequestID:
          type: string
          format: uuid
        SessionID:
          type: string
          format: uuid
        CookieID:
          type: string
          format: uuid
        DeviceID:
          type: string
          format: uuid
        VisitorID:
          type: string
          format: uuid
        IP:
          type: string
        OS:
          type: string
        Country:
          type: string
        UserHID:
          type: string
        Score:
          type: integer
          minimum: 0
          maximum: 100
        Details:
          type: array
          items:
            $ref: "#/components/schemas/ScoreDetail"
        LastRequestTime:
          type: string
          format: date-time
        Phase:
          type: string
          enum: [initial, update]

    WebhookEnvelope:
      type: object
      properties:
        Data:
          $ref: "#/components/schemas/WebhookBody"
        Assing:
          type: string

    Snapshot:
      type: object
      description: Snapshot from the Management API History path (PascalCase array element).
      properties:
        RequestID:
          type: string
          format: uuid
        SessionID:
          type: string
          format: uuid
        CookieID:
          type: string
          format: uuid
        DeviceID:
          type: string
          format: uuid
        VisitorID:
          type: string
          format: uuid
        IP:
          type: string
        ConnectionType:
          type: string
          enum: [direct, mobile, vpn, proxy, tor, privacy_relay, unknown]
        WebRtcHIP:
          type: string
        OS:
          type: string
        Browser:
          type: string
        DeviceType:
          type: string
        Country:
          type: string
        UserHID:
          type: string
        Score:
          type: integer
        Details:
          type: array
          items:
            $ref: "#/components/schemas/ScoreDetail"
        LastRequestTime:
          type: string
          format: date-time

    Profile:
      type: object
      properties:
        Domain:
          type: string
        Weight:
          type: integer
        Callback:
          type: string
        PublicKey:
          type: string
        Secret:
          type: string
        CreatedAt:
          type: string
          format: date-time
